.clockline {
  stroke-width: 1px;
  stroke: black;
}
.timeline {
  stroke-width: 1px;
  stroke: black;
  marker-end: url(#arrow-head);
}
.clockname {
  font-family: sans-serif;
  font-size:80%;
  text-anchor: end;
}
.ticklabel {
  font-family: sans-serif;
  font-size:60%;
  text-anchor: middle;
  /* 2014-05: baseline-shift does not work in Firefox (OK in Chrome and Safari) */
  /* baseline-shift: -1em; */
  transform: translate(0px, 1em);  /* For Firefox */
  -webkit-transform: translate(0px, 1em); /* For Chrome, Safari */
}
.tickmark {
  stroke: black;
  stroke-width: 2px;
}
.clktickmark {
  stroke: black;
  stroke-width: 2px;
}
.tickhelper {
  stroke: gray;
  stroke-width: 1px;
  stroke-dasharray: 2 5;
}
